/* Heder */
.Header {
  margin-top: 25px;
}

.Header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Header .Header-title{
  width: 100%;
  text-align: center;
}

.Header .Header-title h1{
  display: block;
  height: auto;
  font-size: calc(16px + 1.5vw);
  font-weight: 800;
  color: #FAACA8;
  font-family: var(--wp--preset--font-family--fjalla-one);
}

.Header .Header-text p{
  display: block;
  text-align: center;
  margin: 1.5vw 0px;
  color: #FAACA8;
  font-size: calc(12px + 1vw);
  font-weight: 200;
  font-family: var(--wp--preset--font-family--libre-baskerville);
}
/* End Header */

/* Body */
.Body {
  margin-top: 50px;
}

.Body .Guide-text {
  display: block;
  text-align: center;
  color: #FAACA8;
  font-size: calc(12px + 1vw);
  font-weight: 500;
  font-family: var(--wp--preset--font-family--libre-baskerville);
}

.Body .Input-area {
  display: block;
  margin: 25px;
}

.Body .Input-area ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.Body .Input-area li {
  margin: 0px;
  flex: 1;
  min-width: 150px;
  max-width: 250px;
}

.Body .Input-area .input-container {
  text-align: center;
}

.Body .input-text {
  align-items: center;
}

.Body .input-text p{
  text-align: center;
  color: #FAACA8;
  font-size: calc(12px + 1vw);
  font-weight: 500;
  font-family: var(--wp--preset--font-family--libre-baskerville);
}

.Body .input-area {
  margin-top: 20px;
  align-items: center;
}

.Body .Button-area {
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: center;
}

.Body .Button-area button{
  background-color: #FAACA8;
  width: 150px;
  height: 45px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  align-items: center;
}

.Body .Button-area p{
  color: #EFEFEB;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300;
}

.Body .select {
  width: 100%;
  height: 35px;
  color: #FAACA8;
  font-family: var(--wp--preset--font-family--josefin-sans);
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #FAACA8;

}

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
  .Header .Header-title h1 {
      font-size: calc(16px + 4vw);
  }

  .Header .Header-text p {
      font-size: calc(12px + 2vw);
  }

  .Body .Guide-text {
      font-size: calc(12px + 2vw);
  }

  .Body .input-text p {
      font-size: calc(12px + 2vw);
  }

  .Body .Button-area button {
      width: calc(100px + 10vw);
      height: calc(35px + 5vw);
  }

  .Body .Button-area p {
      font-size: calc(14px + 1vw);
  }
}

@media (max-width: 480px) {
  .Body .Input-area ul {
      flex-direction: column;
      align-items: center;
  }

  .Body .Input-area li {
      width: 100%;
  }
}
/* End Body */